<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="false"
        android:theme="@style/Theme.OneTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".main.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="all">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="all" />
        <activity
            android:name=".dogs.view.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="all" />
        <activity
            android:name=".pokemon.ui.view.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="all" />
        <activity
            android:name=".movies.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="all" />
        <activity
            android:name=".countries.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="all" />
        <activity
            android:name=".todoNote.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ToDoTheme.MainApp"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="all" />
        <activity
            android:name=".pop.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="all" />
        <activity
            android:name=".calculator.view.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="all" />
        <activity
            android:name=".crypto.ui.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="all" />
        <activity
            android:name=".rickAndMorty.ui.activity.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="all" />
        <activity
            android:name=".news.ui.activity.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="all" />
        <activity
            android:name=".weather.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="all" />
        <activity
            android:name=".dictionary.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="all" />
        <activity
            android:name=".meals.activities.CategoryMealsActivity"
            android:screenOrientation="portrait"
            tools:ignore="all" />
        <activity
            android:name=".meals.activities.MealActivity"
            android:screenOrientation="portrait"
            tools:ignore="all" />
        <activity
            android:name=".meals.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="all" />

    </application>

</manifest>