<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="all">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="false"
        android:theme="@style/Theme.MC.S1"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".main.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="all">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dogs.view.DogsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pokemon.ui.view.PokemonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".movies.MoviesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".countries.CountriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".todoNote.TodoNoteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".pop.PopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".calculator.view.CalculatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".crypto.ui.CryptoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rickAndMorty.ui.RickAndMortyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".news.ui.activity.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".weather.WeatherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dictionary.DictionaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".meals.activities.CategoryMealsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".meals.activities.MealActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".meals.activities.MealsActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>